USE [REPORTESAPPS]
GO
/****** Object:  Table [dbo].[ESTADO_REPORTES]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_REPORTES](
	[ID_ESTREPORTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTREPORTE] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTREPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[ID_ESTADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_ESTADO] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTES]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTES](
	[ID_REPORTE] [int] IDENTITY(1,1) NOT NULL,
	[USER_REPORTE] [int] NULL,
	[TIPO_REPORTE] [int] NULL,
	[ESTADO_REPORTE] [int] NULL,
	[OBSERVACION] [nvarchar](500) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_REPORTE]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_REPORTE](
	[ID_TIPO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_TIPO] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_USER] [nvarchar](255) NULL,
	[CORREO_USER] [nvarchar](255) NULL,
	[PASS_USER] [nvarchar](255) NULL,
	[ESTADO_USER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESTADO_REPORTES] ON 

INSERT [dbo].[ESTADO_REPORTES] ([ID_ESTREPORTE], [NOMBRE_ESTREPORTE]) VALUES (1, N'Abierto')
INSERT [dbo].[ESTADO_REPORTES] ([ID_ESTREPORTE], [NOMBRE_ESTREPORTE]) VALUES (2, N'En Proceso')
INSERT [dbo].[ESTADO_REPORTES] ([ID_ESTREPORTE], [NOMBRE_ESTREPORTE]) VALUES (3, N'Cerrado')
SET IDENTITY_INSERT [dbo].[ESTADO_REPORTES] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTADOS] ON 

INSERT [dbo].[ESTADOS] ([ID_ESTADO], [NOMBRE_ESTADO]) VALUES (1, N'Activo')
INSERT [dbo].[ESTADOS] ([ID_ESTADO], [NOMBRE_ESTADO]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[ESTADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[REPORTES] ON 

INSERT [dbo].[REPORTES] ([ID_REPORTE], [USER_REPORTE], [TIPO_REPORTE], [ESTADO_REPORTE], [OBSERVACION], [FECHA]) VALUES (1, 1, 1, 1, N'Usuario indica que se encuentra sin energia', CAST(N'2023-12-16T10:56:55.990' AS DateTime))
INSERT [dbo].[REPORTES] ([ID_REPORTE], [USER_REPORTE], [TIPO_REPORTE], [ESTADO_REPORTE], [OBSERVACION], [FECHA]) VALUES (2, 2, 1, 1, N'Predio con oscilacion de voltaje desde hace dos dias', CAST(N'2023-12-16T10:57:24.420' AS DateTime))
INSERT [dbo].[REPORTES] ([ID_REPORTE], [USER_REPORTE], [TIPO_REPORTE], [ESTADO_REPORTE], [OBSERVACION], [FECHA]) VALUES (3, 1, 1, 1, N'Sin energía', CAST(N'2023-12-17T15:29:50.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[REPORTES] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPO_REPORTE] ON 

INSERT [dbo].[TIPO_REPORTE] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (1, N'Oscilacion de Voltaje')
INSERT [dbo].[TIPO_REPORTE] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (2, N'Predio sin energia')
INSERT [dbo].[TIPO_REPORTE] ([ID_TIPO], [NOMBRE_TIPO]) VALUES (3, N'Acometida en el suelo')
SET IDENTITY_INSERT [dbo].[TIPO_REPORTE] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID_USER], [NOMBRE_USER], [CORREO_USER], [PASS_USER], [ESTADO_USER]) VALUES (1, N'Nathan Ramirez', N'nathan@gmail.com', N'123456', 1)
INSERT [dbo].[USUARIOS] ([ID_USER], [NOMBRE_USER], [CORREO_USER], [PASS_USER], [ESTADO_USER]) VALUES (2, N'Luis Martinez', N'luis@gmail.com', N'123456', 1)
INSERT [dbo].[USUARIOS] ([ID_USER], [NOMBRE_USER], [CORREO_USER], [PASS_USER], [ESTADO_USER]) VALUES (5, N'Jhonathan Ramirez', N'jhonathan@gmail.com', N'123456', 2)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__6FDEEF119D3AA0BB]    Script Date: 19/12/2023 2:00:15 p. m. ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[CORREO_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REPORTES] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([ESTADO_REPORTE])
REFERENCES [dbo].[ESTADO_REPORTES] ([ID_ESTREPORTE])
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([TIPO_REPORTE])
REFERENCES [dbo].[TIPO_REPORTE] ([ID_TIPO])
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([USER_REPORTE])
REFERENCES [dbo].[REPORTES] ([ID_REPORTE])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ESTADO_USER])
REFERENCES [dbo].[ESTADOS] ([ID_ESTADO])
GO
/****** Object:  StoredProcedure [dbo].[sp_buscar_reporte_por_numero]    Script Date: 19/12/2023 2:00:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buscar_reporte_por_numero]
    @numeroReporte INT
AS
BEGIN
    SELECT * FROM REPORTES WHERE ID_REPORTE = @numeroReporte
END

GO
